#class{
    height: 4rem;
    width: 3rem;
}
main{
    background-image: url('../assets/map_asset.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    height: 500px;
    width: 600px;
}
.profile{
    display: flex;
    justify-content: flex-end;
}
h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
}
header{
    background-color: rgb(105, 179, 169);
}
#quest-list{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    padding: 30px;
    
}