
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
}

header {
    background-color: #A2D7D2;
    height: 10px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: slategrey;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}
img{
    width: 8rem;
    height: 10rem;
    margin: 5%;
}
body{
    background-color: steelblue;
}
input{
    border-radius: 30px;
    background-color: black;
    color: white;
}
div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
/* input[type=radio]{
    display: none;
}
input[type=radio]:checked + img{
    border: 5px solid black;
    filter: none;
}
img:hover{
    filter: none;
    border: 5px solid black;

} */
